<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Colin Densem develops solutions to problems with Ruby on Rails, Elixir and Javascript">
    <meta name="author" content="Colin Densem ~ Summit 360 Ltd">


    <title>SUMMIT360 - Developing bespoke solutions for you.</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext">

  </head>

  <body>

    <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">SUMMIT 360</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class=""><a id="menu-link-1" href="/" title="Home Section"><span class="text">HOME</span></a></li>
          <li class=""><a id="menu-link-2" href="/about" title="About Colin Densem & Summit 360"><span class="text">ABOUT</span></a></li>
          <li class=""><a id="menu-link-3" href="/contact" title="Contact Us"><span class="text">CONTACT</span></a></li>
          <!--li(class="{{isNavActive 'about'}}")-->
          <!--  a(id="menu-link-2" href="about" title="About Section")-->
          <!--    span(class="fa fa-user")-->
          <!--    span-->
        </ul>
      </div>
    </div>
  </nav>



     <!--  <p class="alert alert-info"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger"><%= get_flash(@conn, :error) %></p> -->

      <%= @inner %>



    <footer>
      <div class="container bottom">
        <div class="col-xs-2"><a href="/"><img src="/images/footer-logo.png" alt="Summit360 Link to Home" class="img img-responsive img-rounded"/></a></div>
        <div class="col-xs-10">
          <div class="copy"><span class="small">© Summit360 Ltd 2007-2015 - Company No: 5710517. Registered Office: 1 KEEPERS GATE, LYTHAM ST ANNES, LANCASHIRE FY8 4FB</span></div>
          <ul class="footer-nav list-inline text-muted"></ul>
        </div>
      </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
    <script>require("web/static/js/app")</script>
    <script src="<%= static_path(@conn, "/js/vendor.js") %>"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-12318827-2', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
