//
// Variables
// --------------------------------------------------

$app_theme_bg_color:  #0051B7;
$app_theme_color:       #e4e6e5;

$roboto-font-path: "../fonts/roboto/" !default;
$icons-font-path: "../fonts/material-design-icons/" !default;
